:root {
    --primary-color:#621B00;
    --secondary-color: #F9EBE0;
    --tertiary-color: #2F1000;
    --white-color: #fff;
    --black-color: #000;
}

/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.0rem;
    font-weight: 700;
}

h3 {
    font-size: 1.7rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.9rem;
    font-weight: 700;
}

h6 {
    font-size: 0.7rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 1.6rem;
    }

    a {
        font-size: 1.6rem;
    }
}


/* FIN ESTILOS GENERALES */

/* INICIO ESTILOS DE MENÚ */

.background-menu {
    background-color: var(--tertiary-color);
    padding: 1rem 0;
}

.background-menu a {
    color: var(--white-color);
    font-size: 1.4rem;
}

.custom-toggler {
    border: none;
    background: transparent;
    font-size: 3rem;
    color: var(--white-color);
    /* Color blanco para el icono */
}

.custom-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-brand img {
    width: 9rem;
}

/* FINAL ESTILOS DE MENÚ */

/* INICIO ESTILOS CARRUSEL */

.carousel-container {
    height: 80vh;
    position: relative;
}

.carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-custom {
    position: relative;
}

.overlay-image {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-img {
    height: 100%;
    object-fit: cover;
}

/* FINAL ESTILOS CARRUSEL */


/* INICIO CARACTERISTICAS */

.features-section {
    background-color: var(--secondary-color);
    padding: 50px 0;
}

.features-section h2 {
    color: var(--primary-color);
}

.features-section h3 {
    margin: 1.5rem 0;
    text-align: center;
}

.features-section .feature i {
    font-size: 5rem;
    color: var(--tertiary-color);
}

.features-section .feature {
    margin-bottom: 3rem;
}

/* FINAL CARACTERISTICAS */

/* INICIO TABS */

.nav-pills button {
    all: unset;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 0;
}

.tab-content {
    font-size: 2.6rem;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 1rem;
}

.services-tabs .nav-link {
    margin-bottom: 1rem;
    color: var(--tertiary-color);
    background-color: #F2F2F2;
}

.services-tabs .nav-link.active {
    color: var(--white-color);
    background-color: var(--tertiary-color);
}

.card-room {
    padding: 2rem;
}

.room-price {
    color: var(--primary-color);
    font-style: italic;
}

.name-room {
    color: var(--tertiary-color);
    font-weight: 700;
    font-size: 2.5rem;
}

.card-room ul li {
    font-size: 1.6rem;
    list-style: none;
    margin-bottom: 1rem;
}

.feature-room i {
    color: var(--primary-color);
}

.image-container-tab {
    height: 300px;
    overflow: hidden;
}

.card-room img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: bottom;
}

/* FINAL TABS */

/* INICIO ESTILOS CONTACTO */

.container-contact i {
    color: var(--primary-color);
}

/* FINAL ESTILOS CONTACTO */

/* ESTILOS DE BOTÓN WHATSAPP */
.wsp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: green;
    color: var(--white-color);
    font-size: 6rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: ease-in-out all 0.3s;
}

.wsp-button:hover {
    background-color: darkgreen;
    cursor: pointer;
    padding: 1rem 3rem;
    transition: ease-in-out all 0.3s;
    border-radius: 1rem;
}

/* ESTILOS DE BOTÓN WHATSAPP */

/* INICIO ESTILOS FOOTER  */

footer li {
    font-size: 1.6rem;
}

/* INICIO ESTILOS FOOTER  */

/* INICIO ESTILOS RESERVACIÓN */



/* FINAL ESTILOS RESERVACIÓN */

/* INICIO ESTILOS GALERÍA */

/* Ajustar la altura de la sección */
.gallery-section {
    background-color: rgb(25, 25, 25);
    padding: 5rem 0;
    color: var(--white-color);
}

/* Ajuste de las imágenes */
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tamaño fijo para evitar deformaciones */
.large {
    height: 700px;
    /* Ajusta según sea necesario */
}

.small {
    height: 345px;
    /* Ajusta para mantener la proporción de 2 filas */
}

/* Responsive: En pantallas pequeñas, apilar imágenes */
@media (max-width: 768px) {
    .large {
        height: 300px;
    }

    .small {
        height: 150px;
    }
}



/* FINAL ESTILOS GALERÍA */